---
postgres_version: "{{ config.postgres_version }}"
max_connections: "{{ config.max_connections }}"
shared_buffers: "{{ config.shared_buffers }}"
replication_user: "{{ config.replication_user }}"
replication_password: "{{ config.replication_password }}"