variable "aws_region" {
  default = "{{ config.aws_region }}"
}

variable "instance_type" {
  default = "{{ config.instance_type }}"
}

variable "ssh_key_name" {
  default = "{{ config.ssh_key_name }}"
}